.about {
  padding: 400rem 0 230rem;
  position: relative;
  overflow: hidden;

  #gridCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0.8;
    mix-blend-mode: overlay;
  }

  &__decor {
    filter: drop-shadow(0 0 1px $accentColor);
    position: absolute;
    pointer-events: none;

    &--1 {
      width: 490rem;
      height: 490rem;
      margin-left: 28rem;
      top: 70rem;
      left: 48%;
      transform: translate(-50%, 0);
      z-index: -5;
    }

    &--2 {
      width: 380rem;
      height: 380rem;
      top: 548rem;
      left: 175rem;
      z-index: -6;
    }

    &--3 {
      width: 164rem;
      height: 164rem;
      top: 908rem;
      left: 626rem;
      z-index: -7;
    }
  }

  &__container {}

  &__row {}

  &__col {
    &--title {}

    &--subtitle {}

    &--media {}

    &--content {
      margin-left: auto;
      align-self: flex-end;
    }
  }

  &__title {
    margin: 8rem 0 0;
  }

  &__subtitle {
    margin: 0 0 -40rem;
    line-height: 1;

    span {
      display: block;

      &:nth-child(1),
      &:nth-child(2) {
        margin-left: 0;
      }

      &:nth-child(3),
      &:nth-child(5) {
        margin-left: calc(40% + 8rem);
      }

      &:nth-child(4),
      &:nth-child(6) {
        margin-left: calc(20% + 8rem);
      }

      &:nth-child(1) {}

      &:nth-child(2) {}

      &:nth-child(5) {}

      &:nth-child(6) {}

      &:nth-child(7) {
        margin-left: calc(60% + 24rem);
      }
    }
  }

  &__media {}

  &__hero {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__content {
    column-count: 2;
    column-gap: var(--gap-fluid);

    p {
      break-inside: avoid;
    }
  }
}