.header.back{
  transform: translateY(-70%);
}
.header {
  width: 100%;
  padding: 52rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  mix-blend-mode: difference !important;
  transition: all 0.5s ease;
  transition: $transition;
  will-change: transform;
  z-index: 10001;
  &.is-hidden {
    transform: translateY(-100%);
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    @extend %area-click;
    transition: $transition;
    transition-property: color;

    &:hover {
      text-decoration: none;

      @media (min-width: $lg-mf) {
        color: $accentColor;
      }
    }
  }

  &__logo {
    flex-shrink: 0;

    svg {} 
  }

  &__dropdown {
    display: flex;
    align-items: center;
    transition: $transition;
    transition-duration: 1.4s;
    transition-delay: .4s;
    transition-property: visibility, opacity;
  }

  &__nav {
    margin-right: 80rem;
    text-transform: uppercase;

    &-list {
      margin: 0;
      padding: 0;
      display: flex;
      list-style-type: none;
    }

    &-item {
      margin: 0 41rem;
      padding: 0;

    }

    &-link {}
  }

  &__language-switcher {
    flex-shrink: 0;
    text-transform: uppercase;
  }
}

#js-preloader:not(.is-hide) ~ #root {
  .header__dropdown {
    visibility: hidden;
    opacity: 0;
  }
  .header__logo {
  }
}


#js-preloader.is-hide ~ #root {
  .header__dropdown {
  }
  .header__logo {
  }
}
