<header class="@@el header">
  <div class="container header__container">
    <a href="#root" class="js-anchor logo header__logo">
      <svg width="200" height="50" viewBox="0 0 200 50" xmlns="http://www.w3.org/2000/svg" class="logo__img"><path d="M0 0H48.789V50H33.5598V15.6073H32.0091V50H16.7799V15.6073H15.2293V50H0V0Z" fill="currentColor"/><path d="M50.4037 0H99.1927V15.6073H65.6329V17.1964H99.1927V32.8036H65.6329V34.3927H99.1927V50H50.4037V0Z" fill="currentColor"/><path d="M100.807 0H149.596V15.6073H132.816V50H117.587V15.6073H100.807V0Z" fill="currentColor"/><path d="M151.211 0H200V15.6073H183.22V34.3927H200V50H151.211V34.3927H167.991V15.6073H151.211V0Z" fill="currentColor"/></svg>
    </a>
    <div class="header__dropdown">
      <nav class="header__nav" role="navigation">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#" class="js-anchor header__link">Агентство</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="js-anchor header__link">Что мы умеем</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="js-anchor header__link">Кейсы</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="js-anchor header__link">Почему мы</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="js-anchor header__link">Клиенты</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="js-anchor header__link">Контакты</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="js-anchor header__link">Презентация</a>
          </li>
        </ul>
      </nav>
      <div class="header__language-switcher">
        <a href="/en" class="header__link">En</a>
      </div>
    </div>
  </div>
</header>