/* Headings, Common BEM Blocks, and More... */

.logo {
  display: inline-block;
  flex-shrink: 0;
  vertical-align: top;
  transition: $transition;
  transition-property: opacity;
  &:hover {
    text-decoration: none;
    @media (min-width: $lg-mf) {
      opacity: .6;
    }
  }
  &__img {
    width: 200rem;
    height: 50rem;
    display: block;
    object-fit: contain;
  }
}

.btn-group {
  --btn-group-gap: 4rem;
  &--gap {
    &-sm {
      --btn-group-gap: 6rem;
    }
  }
  &__inner {
    margin: calc(-1 * var(--btn-group-gap));
    display: flex;
    flex-wrap: wrap;
  }
  &__col {
    padding: var(--btn-group-gap);
  }
  &__el {
  }
}

.btn {
  max-width: 100%;
  min-height: var(--btn-height);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: inherit;
  font-size: var(--btn-font-size);
  line-height: $lineHeightDefault;
  font-family: $fontFamily;
  text-align: center;
  text-transform: none;
  border: none;
  border-radius: 0;
  outline: none;
  user-select: none;
  transition: $transition;
  position: relative;
  cursor: pointer;
  z-index: 0;
  &:hover {
    text-decoration: none;
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
  }
  &--theme {
    &-white {
      background: $whiteColor;
      color: $accentColor;
      border: 1px solid $whiteColor;
      &:hover {
        @media (min-width: $lg-mf) {
          background: transparent;
          color: $accentColor;
          border-color: $accentColor;
        }
      }
      &:focus,
      &:active {
      }
    }
  }
  &--size {
    &-md {
      --btn-height: 42rem;
      --btn-padding-x: 24rem;
      --btn-padding-y: 8rem;
      --btn-font-size: var(--fs-6);
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;
    z-index: 1;
  }
  &__title {
  }
  &__icon {
    width: 24rem;
    height: 24rem;
    position: relative;
    &--dir {
      &-ltr {
        margin-right: 10rem;
      }
      &-rtl {
        margin-left: 10rem;
      }
    }
    .u-icon,
    img,
    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.u-content {
  font-size: var(--fs-5);
  line-height: $lineHeight7;
  word-wrap: break-word;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p {
    margin: 0 0 1em;
  }
  a {
    color: $accentColor;
    box-shadow: inset 0 -1px 0 transparent;
    transition: $transition;
    transition-property: box-shadow;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        box-shadow: inset 0 -1px 0 rgba($accentColor, .4);
      }
    }
  }
}

.language-switcher {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  &__btn {
    @extend %area-click, %btn-reset;
    font: inherit;
    cursor: pointer;
    transition: $transition;
    transition-property: opacity;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        opacity: .6;
      }
    }
  }
  &__dropdown {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    transition: $transition;
    transition-property: transform, visibility, opacity;
  }
  &__item {
    margin: 0;
    padding: 0;
  }
}

.glsl-effect {
  display: block;
  vertical-align: top;
  user-select: none;
  position: relative;
}

.glsl-effect img {
  width: 100%;
  height: auto;
  display: block;
  // visibility: hidden;
  pointer-events: none;
}

.glsl-effect canvas {
  display: none !important;
  position: absolute;
  top: 0;
  left: 0;
}

.services-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  &__counter {
    position: absolute;
    top: 36rem;
    left: 0;
    &:before {
      content: counter(servicesCounter, decimal-leading-zero);
    }
  }
  &__media {
    width: 100%;
    max-width: 760rem;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: -1;
  }
  &__picture {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__content {
  }
  &__title {
    margin: 0;
    text-align: center;
  }
  &__footer {
    width: 100%;
    position: absolute;
    bottom: 32rem;
    left: 0;
  }
  &__row {
  }
  &__col {
    &--text {
      margin-left: auto;
    }
  }
  &__text {
  }
}

.box-square {
  width: var(--pixel-size);
  height: var(--pixel-size);
  display: inline-block;
  flex-shrink: 0;
  box-shadow: inset 0 0 0 1px $borderColor;
  position: relative;
  &:before {
    background: $accentColor;
    width: 50%;
    height: 50%;
    content: '';
    position: absolute;
    top: 25%;
    left: 25%;
    transform: scale(2);
    opacity: 0;
    visibility: hidden;
    transition: $transition;
    transition-property: transform, opacity, visibility;
  }
}

.case-card,
.awards-card {
  &:hover {
    .box-square {
      &:before {
        @media (min-width: $lg-mf) {
          transform: none;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.case-card {
  position: relative;
  &__inner {
  }
  &__media {
    margin: 0 0 54rem;
    position: relative;
  }
  &__picture {
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__content {
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-pixel {
    }
  }
  &__title {
    margin: 0 0 20rem 0;
    padding-right: .1em;
    text-transform: uppercase;
    @include truncate-lines(1);
  }
  &__link {
    @extend %link-cover;
    transition: $transition;
    transition-property: opacity;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        opacity: .6;
      }
    }
  }
  &__text {
    max-width: 74%;
    @include truncate-lines(2);
  }
}

.awards-card {
  padding: var(--card-gap-lg) 0;
  position: relative;
  &:not(:hover) {
    .awards-card__media {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__row {
  }
  &__col {
    &--media {
      height: 0;
    }
    &--content {
    }
  }
  &__media {
    background: $accentColor;
    padding: 0 0 122.132796781%;
    transition: $transition;
    transition-property: opacity, visibility;
    position: relative;
    top: -20rem;
    z-index: 1;
  }
  &__picture {
    @extend %img-contain;
    width: 200rem;
    height: 200rem;
    margin: -100rem 0 0 -100rem;
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    user-select: none;
  }
  &__content {
    font-size: var(--fs-5);
  }
  &__header {
    margin: 0 0 var(--card-gap-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin: 0;
  }
  &__link {
    @extend %link-cover;
    display: block;
    transition: $transition;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        opacity: .6;
      }
    }
  }
  &__box-square {
    flex-shrink: 0;
  }
  &__nomination {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    li {
      margin: 0;
      padding: 0;
      &:not(:last-child):after {
        margin: 0 15rem;
        content: '\002F';
      }
    }
  }
}