@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest-VariableFont_wght.woff2') format('woff2'),
       url('../fonts/Onest-VariableFont_wght.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Martian Mono';
  src: url('../fonts/MartianMono-Light.woff2') format('woff2'),
       url('../fonts/MartianMono-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Martian Mono';
  src: url('../fonts/MartianMono-Regular.woff2') format('woff2'),
       url('../fonts/MartianMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Chava';
  src: url('../fonts/Chava-Regular.woff2') format('woff2'),
       url('../fonts/Chava-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}