<picture class="@@class"
         data-grid="@@grid"
         data-mouse="@@mouse"
         data-strength="@@strength"
         data-relaxation="@@relaxation">

  @@if (resolution.includes('xs')) {
    @@if (useWebp) {
    <!-- XS WebP -->
    <source
      srcset="@img/@@name-xs.webp 1x, @img/@@name-xs@2x.webp 2x"
      media="(max-width: 767.98px)"
      type="image/webp" />
    }
    <!-- XS fallback -->
    <source
      srcset="@img/@@name-xs.@@fallbackFormat 1x, @img/@@name-xs@2x.@@fallbackFormat 2x"
      media="(max-width: 767.98px)" />
  }

  @@if (resolution.includes('sm')) {
    @@if (useWebp) {
    <!-- SM WebP -->
    <source
      srcset="@img/@@name-sm.webp 1x, @img/@@name-sm@2x.webp 2x"
      media="(min-width: 768px) and (max-width: 1023.98px)"
      type="image/webp" />
    }
    <!-- SM fallback -->
    <source
      srcset="@img/@@name-sm.@@fallbackFormat 1x, @img/@@name-sm@2x.@@fallbackFormat 2x"
      media="(min-width: 768px) and (max-width: 1023.98px)" />
  }

  @@if (resolution.includes('md')) {
    @@if (useWebp) {
    <!-- MD WebP -->
    <source
      srcset="@img/@@name-md.webp 1x, @img/@@name-md@2x.webp 2x"
      media="(min-width: 1024px) and (max-width: 1439.98px)"
      type="image/webp" />
    }
    <!-- MD fallback -->
    <source
      srcset="@img/@@name-md.@@fallbackFormat 1x, @img/@@name-md@2x.@@fallbackFormat 2x"
      media="(min-width: 1024px) and (max-width: 1439.98px)" />
  }

  @@if (resolution.includes('lg')) {
    @@if (useWebp) {
    <!-- LG WebP -->
    <source
      srcset="@img/@@name-lg.webp 1x, @img/@@name-lg@2x.webp 2x"
      media="(min-width: 1440px)"
      type="image/webp" />
    }
    <!-- LG fallback -->
    <source
      srcset="@img/@@name-lg.@@fallbackFormat 1x, @img/@@name-lg@2x.@@fallbackFormat 2x"
      media="(min-width: 1440px)" />
  }

  <img
    src="@img/@@name-lg.@@fallbackFormat"
    alt="@@alt"
    width="@@width"
    height="@@height" />

</picture>